/* size of map */

html, body {  
    height: 100%;  
    width: 100%; 
    margin: 0;  
    padding: 0;  
    overflow: hidden;  
  } 

  /* style and position layer toggle container */
  .map-data-container {
    position: absolute;
    font: 14px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    color: #54416e; /*font colour*/
    background: rgba(255, 255, 255, 0.8);
    width: 260px;
    bottom: 0;
    left: 10px;
    margin-bottom: 70px;
    padding: 10px;
    right: 10px;
    overflow: visible;
}

  /*style and position legend container */
  .legend {
    position: absolute;
    background-color: #fff;
    border-radius: 3px;
    bottom: 0;
    margin-bottom: 70px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /*horizontal shadow, vertical shadow, size of shadow, color*/
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: 10px;
    right: 10px;
    z-index: 1;
}

.legend h4 {
    margin: 0 0 10px;
}

.legend div span {
    display: inline-block;
    border-radius: 50%; /*curve border to make a circle*/
    height: 10px; /*size of circle*/
    width: 10px;
    margin-right: 5px; /*position of circle*/
}

  /* format header and footer container */
  
  .sample-head-foot {
    box-sizing: border-box; 
    background-color: #c3b2d9;
    color: #eee;
    left: 0;
    right: 0;
    font-size: 30px;
    text-align: center;
  }
  
  /* style header container */
  
  #header {
    margin: 0;
    height: 50px;
    border: 2px solid #c3b2d9;
    color: #ffffff
  }
  
  /* style map border */
  
  #my-map {
    box-sizing: border-box; 
    border: 2px solid #c3b2d9;
    position: absolute;
    top: 50px;
    right: 0;
    left: 0;
    bottom: 50px;
  }
  
  /* style footer */
  
  #footer {
      position: absolute;
      bottom: 0;
      border: 2px solid #c3b2d9;
      color: #ffffff;
      height: 50px;
  }
